* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
}

#app {
  position: relative;
  width: 330px;
  height: 250px;
}

canvas {
 zoom: .42;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}